.appContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.todoList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
}
.todoListContainer {
    width: 500px;
    height: 750px;

    background-color: rgb(255, 251, 254);
    border-radius: 30px;
    border: 0.1px solid rgb(193, 185, 185);

    position: absolute;

    display: flex;
    flex-direction: column;
}
