.mainContainer {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.appContainer {
    width: 500px;
    height: 750px;
    background-color: rgb(255, 241, 253);

    position: absolute;
}